.xbox {
    margin-top: 13.125rem;

    .title-xbox {
        position: relative;
        text-align: center;

        h1 {
            margin-bottom: 3rem;
            font-weight: 600;
            font-size: 4.5rem;
            line-height: 115%;
        }

        span {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 29px;
            letter-spacing: 0.05em;
            color: #9BF00B;
        }

        img {
            width: 65.4375rem;
            margin-top: 3.875rem;
        }
    }

    @media(max-width: 1200px){
        .title-xbox{
            img{
                width: 45.4375rem;
            }
        }
    
    }

    @media(max-width: 767px){
        margin-top: 8.75rem;

        .title-xbox{
            h1{
                font-size: 3.75rem;
            }
            span{
                font-size: 1.25rem;
            }
            img{
                width: 38.4375rem;
            }
        }
    }

    @media(max-width: 575px){
        margin-top: 80px;
        .title-xbox{
            h1{
                font-size: 2.8125rem;
                margin-bottom: 1.75rem;
            }
            span{
                font-size: 1.0625rem;
            }
            img{
                width: 32.4365rem;
    
            }
        }
    }

    @media(max-width: 510px){
        .title-xbox{
            img{
                width: 22.4365rem;
            }
        }
    }
}

.bg-grenn {
    width: 980px;
    height: 341px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.258984) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%);
    opacity: 0.7;
    border: 1px solid #000000;
    filter: blur(125px);
    position: absolute;
    margin-left: 65px;
    @media(max-width: 1200px){
        width: 46.25rem;
        margin-left: 5.3125rem;
        height: 18.125rem;
    }
    @media(max-width: 991px){
        width: 37.5rem;
        margin-left: 3.75rem;
        height: 19.6875rem;
    }

    @media(max-width: 767px){
        width: 29.5rem;
        margin-left: 4.75rem;
        height: 18.6875rem;
    }
    @media(max-width: 575px){
        width: 16.5rem;
        margin-left: 4.75rem;
        height: 17.6875rem;
    }
    @media(max-width: 510px){
        width: 18.5rem;
        height: 10.6875rem;
    }
}

.control {
    margin-top: 18.75rem;
    margin-bottom: 18.75rem;
    display: none;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: 600;
            font-size: 4.625rem;
            line-height: 130%;
            color: #9BF00B;
        }

        p {
            margin-top: 2.5rem;
            font-weight: 500;
            font-size: 23px;
            line-height: 170%;
            color: #C0C0C0;
            max-width: 31.5625rem;
        }

        img {
            width: 29.1875rem;
        }
    }
}

.groupImg {
    display: flex;
    overflow: hidden;
    margin-bottom: 18.75rem;
    display: none;
    .cardGame {
        max-width: 38rem;

        .image {
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 100%;
        }

        .capa {
            width: 100%;
        }

        .logo {
            position: absolute;
            bottom: 0;
            margin-bottom: 2.8125rem;
            width: 12.5rem;
        }
    }
}

.faq {
    margin-bottom: 11.875rem;
    display: none;
    .perguntas {
        margin-bottom: 3.125rem;

        p {
            font-weight: 600;
            font-size: 2.125rem;
            line-height: 100%;
            color: #9BF00B;

            span {
                color: #ffffff;
            }
        }
    }

    button {
        color: #ffffff !important;
        font-size: 19px;

        &:focus {
            box-shadow: none;
        }
    }

    .accordion-button {
        padding: 26px !important;
    }

    .accordion-body {
        color: #C0C0C0;
        margin-left: 30px;
    }

    .accordion {
        --bs-accordion-border-color: #2E2E2E !important;
        --bs-accordion-border-width: 2px !important;
    }

}