.xbox {
    margin-top: 13.125rem;

    .title-xbox {
        position: relative;
        text-align: center;

        h1 {
            margin-bottom: 3rem;
            font-weight: 600;
            font-size: 4.5rem;
            line-height: 115%;
        }

        span {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 29px;
            letter-spacing: 0.05em;
            color: #9BF00B;
        }

        img {
            width: 69.4375rem;
            margin-top: 3.875rem;
        }
    }
}

.bg-grenn {
    width: 980px;
    height: 482px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(134, 207, 9, 0.258984) 20.31%, rgba(155, 240, 11, 0.3) 23.53%, rgba(0, 219, 0, 0.3) 35.42%, rgba(0, 123, 0, 0.3) 40.63%, rgba(0, 132, 0, 0.3) 49.51%);
    opacity: 0.7;
    border: 1px solid #000000;
    filter: blur(125px);
    position: absolute;
    margin-left: 65px;
}

.control {
    margin-top: 18.75rem;
    margin-bottom: 18.75rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-weight: 600;
            font-size: 4.625rem;
            line-height: 130%;
            color: #9BF00B;
        }

        p {
            margin-top: 2.5rem;
            font-weight: 500;
            font-size: 23px;
            line-height: 170%;
            color: #C0C0C0;
            max-width: 31.5625rem;
        }

        img {
            width: 29.1875rem;
        }
    }
}

.groupImg {
    display: flex;
    overflow: hidden;
    margin-bottom: 18.75rem;

    .cardGame {
        max-width: 38rem;

        .image {
            position: relative;
            display: flex;
            justify-content: center;
            overflow: hidden;
            height: 100%;
        }

        .capa {
            width: 100%;
        }

        .logo {
            position: absolute;
            bottom: 0;
            margin-bottom: 2.8125rem;
            width: 12.5rem;
        }
    }
}

.faq {
    margin-bottom: 18.75rem;

    .perguntas {
        margin-bottom: 3.125rem;
        p {
            font-weight: 600;
            font-size: 2.125rem;
            line-height: 100%;
            color: #9BF00B;
            span{
                color: #ffffff;
            }
        }
    }

    button {
        color: #ffffff !important;
        font-size: 19px;
        &:focus {
            box-shadow: none;
        }
    }
    .accordion-button{
        padding: 26px !important;
    }
    
    .accordion-body{
        color: #C0C0C0;
        margin-left: 30px;
    }
    .accordion{
        --bs-accordion-border-color: #2E2E2E !important;
        --bs-accordion-border-width: 2px !important;
    }
    
}
