*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Sora', sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
}

body{
    background-color: #0C0C0C;
    color: #ffffff;
}